
.recipePostBody{
  min-height: 80vh;
}
.recipePostDiv{
    background-color: #f8ffd04a;
    padding: 10px;
  }
  
  .IngredientsNotepad,.firstNotepad,.DirectionsNotepad,.preViewNotepad {
    width: 50%;
    margin: auto;
    height: 80%;
    max-width: 60%;
    min-width: 485px;
    border-radius:10px;
    overflow: hidden;
    box-shadow: 0px 0px 24px #000000;
  }
  
  
  .top {
    width: 100%;
    background: #cbcba8;
    border-radius: 5px 5px 0 0;
    padding: 15px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
  }
  
  .top input{
    color: rgb(255, 255, 255);
    background: none;
    border: none;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
  }

  
  
  .IngredientsPaper,.directionsPaper,.preVIewPaper {
    width: 100%;
    height: 100%;
    min-height: 60vh;
    padding: 0 40px;
    background: repeating-linear-gradient(#FFF, #FFF 31px, #94ACD4 31px, #94ACD4 32px);
    font-family: 'Shadows Into Light', cursive;
    line-height: 25px;
    font-size: 15px;
    font-weight: bold;
  }

 .firstPaper{
    width: 100%;
    height: 100%;
    min-height: 60vh;
    padding: 0 40px;
    background: repeating-linear-gradient(#FFF, #FFF 31px, #94ACD4 31px, #94ACD4 32px);
    font-family: 'Shadows Into Light', cursive;
    line-height: 25px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
  }

  
  

  .IngredientsHeadLine,.DirectionsHeadLine{
    display: block;
    border-bottom: 1px solid black;
    margin: 5px 0;
    display: inline-block;
  }


  .IngredientsTitle,.directionsTitle{
    margin-top: 3px;
    border-bottom: 1px solid black;
    display: inline-block;
  }

  .quantityInput,.ingredientsTitleInput{
    border: none;
    background: none;
    font-family: inherit;
    font-weight: bold;
    max-width: 25%;
    border-bottom: 1px solid rgb(248, 6, 6);
    outline: 0;
    font-size: 1.0rem;
    color: rgb(0, 102, 255);
    padding: 5px 5px;
    margin-left: 5px;
  }

  .ingredientInput{
    border: none;
    background: none;
    font-family: inherit;
    font-weight: bold;
    max-width: 70%;
    border-bottom: 1px solid rgb(248, 6, 6);
    outline: 0;
    font-size: 1.0rem;
    color: rgb(0, 102, 255);
    padding: 5px 5px;
    margin-left: 5px;

  }


  .ingredientsTitleInput{
    max-width: 40%;
  }

  .ingredientInput:hover,.quantityInput:hover,.ingredientsTitleInput:hover{
    border-bottom: 1px solid rgb(13, 140, 209);
    transition: 0.8s;
  }
  .ingredientInput:focus,.quantityInput:focus,.ingredientsTitleInput:focus{
    border-bottom: 2px solid rgb(13, 140, 209);
    transition: 0.2s;

  }
  .ingredientInput:focus::placeholder,.quantityInput:focus::placeholder,.ingredientsTitleInput:focus::placeholder{
    color: rgb(13, 140, 209);
  }

  .add-input-btn{
    margin: 5px 5px;
    padding: 5px;
    font-size: 0.8rem;
    background-color: #cbcba8b4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  .recipePost-Ingredients,.recipePost-Directions{
    position: relative;
  }

  .recipePost-Ingredients button,.recipePost-Directions button{
    position: absolute;
    top: 0;
    right: 70px;
  }

  .directionsInputDiv{
    position: relative;
  }

  .directions-delete-btn{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .stepDirection{
    margin-bottom: 8px;
    list-style-type: decimal;
  }

  .directionsInput{
    display: block;
    border: none;
    background: none;
    font-family: inherit;
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid rgb(248, 6, 6);
    outline: 0;
    font-size: 1.0rem;
    color: rgb(0, 102, 255);
    padding: 5px 5px;
    margin-left: 5px;
  }

  .directionsInput:hover{
    border-bottom: 2px solid rgb(13, 140, 209);
    transition: 0.8s;
  }
  .directionsInput:focus{
    border-bottom: 2px solid rgb(13, 140, 209);
  }
  .directionsInput:focus::placeholder{
    color: rgb(13, 140, 209);
  }

  .directionsTitleInput{
    max-width: 40%;
    display: inline;
  }
  
  .top input::placeholder{
    color:white;
  }

  .selectBoxsIconsDiv{
    display: flex;
    justify-content: space-around;
    padding: 5px;
  }

  .iconsDiv{
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  .iconDiv{
    text-align: center;
  }


  .descriptionDiv >*{
    margin-bottom: 20px;
    margin-top: 12px;
  }

  #textarea{
    background: none;
    margin-top: 16px;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Shadows Into Light', cursive;
    resize: none;
  }


.ingrdient-delete-btn{
  cursor: pointer;
}
 

  .selectBoxRecipeFirstPage{
    border-radius: 5px; 
    padding: 3px;
    margin-bottom: 18px;
  }
  

  .flipBtnDiv {
    position: relative;
    height: 100%;
    width: 50%;
    margin: auto;
    padding: 10px;
    display: flex; 
    justify-content: space-between; 
  }
  
  .flipBtnItem {
    flex: 1; /* Allow each button to take up an equal portion of the container */
    border: none;
    max-width: 40%;
    min-width:60px;
    border-radius: 10px;
    background-color: #cbcba8;
    color: rgb(255, 255, 255);
    margin-left: 5px;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-weight: bold;
  }
  

  .flipBtnItem:hover{
    color: rgb(13, 140, 209);
    transition: 0.6s;
  }

  .flipBtnItem:not(:hover){
    transition: 0.6s;
  }

  .Upload-Success-div{
    padding: 20px;
    color: rgb(177, 115, 115);
    text-align: center;
    width: 90%;
    margin: auto;
    border-radius: 10px;
  }
  .Success__title {
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }
  .Success__message {
    animation-delay: 0.1s;
    font-size: 1em;
    margin-bottom: 1.5em;
    min-height: 3em;
    font-weight: bold;
  }

  .checkmarkIcon{
    background-color: #bef7b7;
    border-radius: 50%;
  }


  .file-label {
    width: 30%;
    display: block;
    padding: 5px;
    font-size: 0.8rem;
    background-color: #cbcba8b4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="file"] {
    display: none;
  }

  .validetionMeesageDiv{
    color: rgb(239, 65, 62);
  }


  @media (max-width: 600px) {
    .recipePostBody{
      min-height: 85vh;
    }

    .IngredientsNotepad,.firstNotepad,.DirectionsNotepad,.preViewNotepad {
      min-width: 320px;
      max-width: 390px;
      margin: auto;
    }

    .IngredientsPaper,.directionsPaper,.preVIewPaper {
      padding: 0 20px;
      font-size: 0.8rem;
    }
    
    .top input{
      font-size: 1.3rem;
    }

    .top {
      padding: 10px;
      font-size: 0.8rem;
    }
    
    .firstPaper{
      padding: 0 5px;
      line-height: 15px;
      font-size: 12px;
    }

    .selectBoxsIconsDiv{
      display: flex;
      padding: 5px;
    }

    .iconInput{
      flex: 1;
      max-width: 32%;
    }

    .iconsDiv{
      width: 100%;
    }

    .selectBoxRecipeFirstPage{
      border-radius: 5px; 
      padding: 2px;
      margin-bottom: 18px;
      max-width: 100%;
      font-size: 0.6rem;
    }

    #textarea{
      padding: 5px;
      max-width: 100%;
      font-family: 'Shadows Into Light', cursive;
    }

    .ingredientsTitleInput{
      min-width: 60%;
      font-size: 0.8rem;
    }

   .quantityInput,.ingredientInput{
    font-size: 0.8rem;
   }
    .flipBtnDiv{
      width: 80%;
      font-size: 0.8rem;
    }
    .flipBtnItem {
      max-width: 47%;
      padding: 7px;
      font-size: 0.8rem;
    }

    .directionsTitleInput{
      min-width: 70%;
      font-size: 0.8rem;
    }

    .file-label{
      width: 50%;
      font-size: 0.8rem;
    }

    .add-input-btn{
      width: 45%;
      font-size: 0.8rem;
    }
.inputIngredientsDiv{
  position: relative;
}
    .ingrdient-delete-btn{
      position: absolute;
      top: 0;
    }

  }

